
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 24px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo span {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 6px;
}

.header-controls {
  display: flex;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
}

.btn-primary {
  background-color: rgb(37, 110, 235);
  color: rgb(255, 255, 255)
}

.burger-button {
  width: 30px;
  height: 19px;
  display: none;
}

.search {
  margin-bottom: 45px;
}

.search-box {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(37, 110, 235);
  padding: 3px;
  display: flex;
  justify-content: flex-start;
}

.search-box input {
  flex-grow: 1;
  padding: 14px 22px;
  border-radius: 5px;
  outline: none;
  border: none;
  min-width: 0;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-button span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.content-main__item {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;

  &:hover .card-item__title {
    color: rgba(37, 110, 235, 1);
  }
}

.card-item__image {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
}

.card-item__image img {
  width: 100%;
}

.card-item__info {
  padding: 0;
}

.card-item__info * {
  display: block;
  text-align: start;
  width: 100%;
}

.card-item__title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(10, 20, 58, 1);
  margin-bottom: 5px;
}

.card-item__price {
  font-size: 16px;
  font-weight: 700;
  color: rgba(10, 20, 58, 1);
  margin-bottom: 10px;
}

.card-item__desc {
  font-size: 14px;
  font-weight: 400;
  color: rgba(196, 196, 196, 1);

  /*&:not(:last-child) {*/
  /*  padding-bottom: 4px;*/
  /*}*/
}

.content-side {
  width: 260px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.content-side__title {
  font-size: 18px;
  font-weight: 700;
  color: rgba(10, 20, 58, 1);
  margin-bottom: 15px;
}

.content-side__benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 43px;
}

.content-side__benefits-item {
  width: 230px;
  min-width: 230px;
}

.benefits__img {
  display: flex;
  width: 30px;
  height: 30px;
}

.benefits__img img {
  width: 100%;
  padding-bottom: 7px;
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(10, 20, 58, 1);
  padding-bottom: 5px;
}

.benefits__desc {
  color: rgba(10, 20, 58, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  width: 217px;
}

hr {
  width: 100%;
  border: 1px solid rgba(229, 229, 229, 1);
  margin-bottom: 121px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(196, 196, 196, 1);

  &:not(:first-child) {
    text-decoration: underline;
  }
}

.footer p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(196, 196, 196, 1);
}


.content-product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product__left {
  flex-basis: 50%;
}

.content-product__right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.prod-left__title, .prod-right__price  {
  color: rgba(10, 20, 58, 1);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.prod-left__image {
  display: flex;
  margin-bottom: 20px;
}

.prod-left__image img{
  width: 100%;
}

.prod-left__desc {
  color: rgba(10, 20, 58, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.prod-right__button {
  width: 264px;
  height: 54px;
}


@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }

  hr {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }

  .content-box {
    flex-direction: column;
    gap: 34px;
    padding-bottom: 50px;
  }

  .content-main {
    width: 100%;
  }

  .content-side {
    width: 100%;
    min-width: 0;
  }

  .content-side__benefits-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .content-product {
    flex-direction: column;
    width: 100%;
  }

  .content-product__left {
    flex-basis: 100%;
    width: 100%;
  }

  .content-product__right {
    flex-basis: 100%;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }
  .header-controls {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .content-main__item {
    width: calc((100% - 30px) / 2);
  }

  .content-side__benefits-list {
    flex-wrap: wrap;
    /*justify-content: s;*/
  }
}

@media (max-width: 420px) {
  .search-box input {
    font-size: 12px;
  }

  .search-button span {
    display: none;
  }

  .content-box {
    gap: 38px;
  }

  .content-main__title {
    font-size: 20px;
  }

  .content-main__item {
    width: 100%;
  }

  .content-side__title {
    margin-bottom: 23px;
  }
}